@model TrainingApp.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ensure you have a shared layout, or you can remove this line if not applicable
}

<h2>Admin Dashboard</h2>
<hr />
<hr />


<div>
    <h3>University Supervisors</h3>
    <p>
        @Html.ActionLink("Add University Supervisor", "AddUniversitySupervisor", "Admin")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Supervisor ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>University</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var supervisor in Model.UniversitySupervisors)
            {
                {
                    <tr>
                        <td>@supervisor.Id</td>
                        <td>@supervisor.Name</td>
                        <td>@supervisor.Email</td>
                        <td>@supervisor.UniversityName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <h3>Company Supervisors</h3>
    <p>
        @Html.ActionLink("Add Company Supervisor", "AddCompanySupervisor", "Admin")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Supervisor ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var supervisor in Model.CompanySupervisors)
            {
                {
                    <tr>
                        <td>@supervisor.Id</td>
                        <td>@supervisor.Name</td>
                        <td>@supervisor.Email</td>
                        <td>@supervisor.CompanyName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <h3>Trainers</h3>
    <p>
        @Html.ActionLink("Add Student", "AddStudent", "Admin")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Supervisor</th>
                <th>University</th>
                <th>Company</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Trainers)
            {
                {
                    <tr>
                        <td>@student.Id</td>
                        <td>@student.Name</td>
                        <td>@student.Email</td>
                        <td>@(Model.GetSupervisorName((int)student.UniversitySupervisorID))</td>
                        <td>@(Model.GetUniName((int)student.UniversitySupervisorID))</td>
                        <td>@(Model.GetCompanyName((int)student.CompanySupervisorID))</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


