@model TrainingApp.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ensure you have a shared layout, or you can remove this line if not applicable
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/master.css" rel="stylesheet" />
</head>
<h2>Admin Dashboard</h2>
<hr />
<hr />
<div>
    <p>
        @Html.ActionLink("Add University Supervisor", "AddUniversitySupervisor", "Admin")
    </p>
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">University Supervisors</div>
            <div class="card-body">
                <p class="card-title"></p>
                <table class="table table-hover" id="dataTables-example" width="100%">
                    <thead>
                        <tr>
                            <th>Supervisor ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>University</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var supervisor in Model.UniversitySupervisors)
                        {
                                <tr>
                                    <td>@supervisor.Id</td>
                                    <td>@supervisor.Name</td>
                                    <td>@supervisor.Email</td>
                                    <td>@supervisor.UniversityName</td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Add Company Supervisor", "AddCompanySupervisor", "Admin")

<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">Company Supervisors</div>
        <div class="card-body">
            <p class="card-title"></p>
            <table class="table table-hover" id="dataTables-example" width="100%">
                <thead>
                    <tr>
                        <th>Supervisor ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Company</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supervisor in Model.CompanySupervisors)
                    {
                            <tr>
                                <td>@supervisor.Id</td>
                                <td>@supervisor.Name</td>
                                <td>@supervisor.Email</td>
                                <td>@supervisor.CompanyName</td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Add Student", "AddStudent", "Admin")
</p>
<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">Trainers</div>
        <div class="card-body">
            <p class="card-title"></p>
            <table class="table table-hover" id="dataTables-example" width="100%">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>University</th>
                        <th>University Supervisor</th>
                        <th>Company</th>
                        <th>Company Supervisor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Trainers)
                    {
                            <tr>
                                <td>@student.Id</td>
                                <td>@student.Name</td>
                                <td>@student.Email</td>
                                <td>@(Model.GetUniName((int)student.UniversitySupervisorID))</td>
                                <td>@(Model.GetSupervisorName((int)student.UniversitySupervisorID))</td>
                                <td>@(Model.GetCompanyName((int)student.CompanySupervisorID))</td>
                                <td>@(Model.GetSupervisorName((int)student.CompanySupervisorID))</td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">New Users</div>
        <div class="card-body">
            <p class="card-title"></p>
            <table class="table table-hover" id="dataTables-example" width="100%">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>University</th>
                        <th>University Supervisor</th>
                        <th>Company</th>
                        <th>Company Supervisor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.NewUsers)
                    {
                            <tr>
                                <td>@student.Id</td>
                                <td>@student.Name</td>
                                <td>@student.Email</td>
                                <td>@(student.UniversitySupervisorID is null?"Not Found":Model.GetUniName((int)student.UniversitySupervisorID))</td>
                                <td>@(student.UniversitySupervisorID is null ? "Not Found" : Model.GetSupervisorName((int)student.UniversitySupervisorID))</td>
                                <td>@(student.CompanySupervisorID is null ? "Not Found" : Model.GetCompanyName((int)student.CompanySupervisorID))</td>
                                <td>@(student.CompanySupervisorID is null ? "Not Found" : Model.GetSupervisorName((int)student.CompanySupervisorID))</td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
