@model TrainingApp.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome/css/solid.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/DataTables-1.10.25/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/DataTables-1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/vendor/datatables/DataTables-1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Admin Dashboard</h1>
        <div class="card mb-4">
            <div class="card-header">
                <h3>University Supervisors</h3>
                <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#addUniversitySupervisorModal">Add University Supervisor</button>

                <div class="modal fade" id="addUniversitySupervisorModal" tabindex="-1" aria-labelledby="addUniversitySupervisorModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addUniversitySupervisorModalLabel">Add University Supervisor</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>


                                    @using (Html.BeginForm("AddUniversitySupervisor", "Admin", FormMethod.Post, new { id = "addUniversitySupervisorForm" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addSupervisorViewModel.UniversityName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addSupervisorViewModel.UniversityName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter university name" } })
                                                    @Html.ValidationMessageFor(model => model.addSupervisorViewModel.UniversityName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addSupervisorViewModel.SupervisorName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addSupervisorViewModel.SupervisorName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addSupervisorViewModel.SupervisorName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addSupervisorViewModel.SupervisorEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addSupervisorViewModel.SupervisorEmail, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addSupervisorViewModel.SupervisorEmail, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addSupervisorViewModel.SupervisorPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.PasswordFor(model => model.addSupervisorViewModel.SupervisorPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addSupervisorViewModel.SupervisorPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Add Supervisor" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <table class="table table-hover" id="universitySupervisorsTable">
                    <thead>
                        <tr>
                            <th>Supervisor ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>University</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.UniversitySupervisors != null)
                        {
                            foreach (var supervisor in Model.UniversitySupervisors)
                            {
                                <tr>
                                    <td>@supervisor.Id</td>
                                    <td>@supervisor.Name</td>
                                    <td>@supervisor.Email</td>
                                    <td>@supervisor.UniversityName</td>
                                    <td class="text-end">
                                        <a href="" class="btn btn-outline-info btn-sm"><i class="fas fa-pen"></i></a>
                                        <a href="" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h3>Company Supervisors</h3>
                <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#addCompanySupervisorModal">Add Company Supervisor</button>
                <div class="modal fade" id="addCompanySupervisorModal" tabindex="-1" aria-labelledby="addCompanySupervisorModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addCompanySupervisorModalLabel">Add Company Supervisor</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>

                                    @using (Html.BeginForm("AddCompanySupervisor", "Admin", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addCompanySupervisorViewModel.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addCompanySupervisorViewModel.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addCompanySupervisorViewModel.CompanyName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addCompanySupervisorViewModel.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addCompanySupervisorViewModel.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addCompanySupervisorViewModel.Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addCompanySupervisorViewModel.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addCompanySupervisorViewModel.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addCompanySupervisorViewModel.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addCompanySupervisorViewModel.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.PasswordFor(model => model.addCompanySupervisorViewModel.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addCompanySupervisorViewModel.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="modal-footer">
                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Add Supervisor" class="btn btn-default" />
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover" id="companySupervisorsTable">
                    <thead>
                        <tr>
                            <th>Supervisor ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Company</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var supervisor in Model.CompanySupervisors)
                        {
                            <tr>
                                <td>@supervisor.Id</td>
                                <td>@supervisor.Name</td>
                                <td>@supervisor.Email</td>
                                <td>@supervisor.CompanyName</td>
                                <td class="text-end">
                                    <a href="" class="btn btn-outline-info btn-sm"><i class="fas fa-pen"></i></a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h3>Trainers</h3>
                <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#addTrainerModal">Add Trainer</button>
                <div class="modal fade" id="addTrainerModal" tabindex="-1" aria-labelledby="addTrainerModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addTrainerModalLabel">Add Trainer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>

                                    @using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addTrainerViewModel.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addTrainerViewModel.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addTrainerViewModel.CompanyName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addTrainerViewModel.TrainerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addTrainerViewModel.TrainerName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addTrainerViewModel.TrainerName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addTrainerViewModel.TrainerEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.addTrainerViewModel.TrainerEmail, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addTrainerViewModel.TrainerEmail, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.addTrainerViewModel.TrainerPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.PasswordFor(model => model.addTrainerViewModel.TrainerPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.addTrainerViewModel.TrainerPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Add Trainer" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover" id="trainersTable">
                    <thead>
                        <tr>
                            <th>Trainer ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Company</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var trainer in Model.Trainers)
                        {
                            <tr>
                                <td>@trainer.Id</td>
                                <td>@trainer.Name</td>
                                <td>@trainer.Email</td>
                                <td>@trainer.CompanyName</td>
                                <td class="text-end">
                                    <a href="" class="btn btn-outline-info btn-sm"><i class="fas fa-pen"></i></a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            <h3>New Users</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover" id="newUsersTable">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>University</th>
                        <th>University Supervisor</th>
                        <th>Company</th>
                        <th>Company Supervisor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.NewUsers)
                    {
                        <tr>
                            <td>@student.Id</td>
                            <td>@student.Name</td>
                            <td>@student.Email</td>
                            <td>@(student.UniversitySupervisorID is null ? "Not Found" : Model.GetUniName((int)student.UniversitySupervisorID))</td>
                            <td>@(student.UniversitySupervisorID is null ? "Not Found" : Model.GetSupervisorName((int)student.UniversitySupervisorID))</td>
                            <td>@(student.CompanySupervisorID is null ? "Not Found" : Model.GetCompanyName((int)student.CompanySupervisorID))</td>
                            <td>@(student.CompanySupervisorID is null ? "Not Found" : Model.GetSupervisorName((int)student.CompanySupervisorID))</td>
                            <td class="text-end">
                                <a href="" class="btn btn-outline-info btn-sm"><i class="fas fa-pen"></i></a>
                                <a href="" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/datatables/datatables.min.js"></script>
    <script src="~/js/initiate-datatables.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval.unobtrusive")

    <script>
        (function () {
            'use strict';

            // Function to initialize DataTable
            function initializeDataTable(tableId) {
                $(tableId).DataTable({
                    responsive: true,
                    pageLength: 20,
                    lengthChange: false,
                    searching: true,
                    ordering: true
                });
            }

            // Initialize DataTables
            initializeDataTable('#universitySupervisorsTable');
            initializeDataTable('#companySupervisorsTable');
            initializeDataTable('#trainersTable');
            initializeDataTable('#newUsersTable');

            // Function to handle form submission
            function handleFormSubmission(modalClass, formClass) {
                $(document).on('submit', formClass, function (e) {
                    e.preventDefault();
                    var form = $(this);
                    $.ajax({
                        url: form.attr('action'),
                        type: 'POST',
                        data: form.serialize(),
                        success: function (response) {
                            if (response.success) {
                                $(modalClass).modal('hide');
                                location.reload(); // Or update the table dynamically
                            } else {
                                $(modalClass + ' .modal-body').html(response);
                            }
                        },
                        error: function () {
                            alert('An error occurred.');
                        }
                    });
                });
            }

            // Initialize form handling for different modals
            handleFormSubmission('.addUniversitySupervisorModal', '.addUniversitySupervisorForm');
            handleFormSubmission('.addCompanySupervisorModal', '.addCompanySupervisorForm');
        })();
    </script>
</body>
