@model List<TrainingApp.Models.Reports>

<h2>Student Dashboard</h2>

<table class="table">
    <thead>
        <tr>
            <th>Report ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@(report.ReportId)</td>
                <td>@(report.ReportTitle)</td>
                <td>@(report.ReportDescription)</td>
                <td>@(report.ReportDateCreated.ToShortDateString())</td>
            </tr>
        }
      
    </tbody>
</table>

<a href="@Url.Action("AddReport", "Student")" class="btn btn-primary">Add Report</a>
