@model TrainingApp.Models.Reports

@{
    ViewBag.Title = "Report Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ensure you have a shared layout, or you can remove this line if not applicable
}

<h2>Report Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorID)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-default">Back to List</a>
</div>
