@using TrainingApp.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Adjust the path if needed
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body >
    <style>
        .text-danger {
            font-size: 0.8rem; /* Adjust the font size as needed */
            color: #dc3545; /* Ensure the color matches your design */
        }
    </style>

    <main>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                @using (Html.BeginForm("RegisterNewUser", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <label for="chk" aria-hidden="true">Sign up</label>

                    @Html.TextBoxFor(m => m.FullName, new
                    {
                        @class = "form-control",
                        style = "width: 60%; height: 20px; background: #e0dede; justify-content: center; display: flex; margin: 20px auto; padding: 10px; border: none; outline: none; border-radius: 5px;",
                        placeholder = "Full Name"
                    })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(m => m.Email, new
                    {
                        @class = "form-control",
                        style = "width: 60%; height: 20px; background: #e0dede; justify-content: center; display: flex; margin: 20px auto; padding: 10px; border: none; outline: none; border-radius: 5px;",
                        placeholder = "Email Address"
                    })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    @Html.PasswordFor(m => m.Password, new
                    {
                        @class = "form-control",
                        style = "width: 60%; height: 20px; background: #e0dede; justify-content: center; display: flex; margin: 20px auto; padding: 10px; border: none; outline: none; border-radius: 5px;",
                        id = "RegisterPassword",
                        placeholder = "Password"
                    })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <button type="submit">Sign up</button>
                }
            </div>

            <div class="login">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    <label for="chk" aria-hidden="true">Login</label>
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(m => m.UserId, new
                    {
                        @class = "form-control",
                        style = "width: 60%; height: 20px; background: #e0dede; justify-content: center; display: flex; margin: 20px auto; padding: 10px; border: none; outline: none; border-radius: 5px;",
                        placeholder = "ID"
                    })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })

                    @Html.PasswordFor(m => m.Password, new
                    {
                        @class = "form-control",
                        style = "width: 60%; height: 20px; background: #e0dede; justify-content: center; display: flex; margin: 20px auto; padding: 10px; border: none; outline: none; border-radius: 5px;",
                        id = "LoginPassword",
                        placeholder = "Password"
                    })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <button type="submit" value="Log in">Log in</button>
                }
            </div>

            </div>
    </main>
</body>
