<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1" />
    *@
    <title>@ViewBag.Title</title>
    @using System.Security.Claims
    @using Microsoft.AspNet.Identity
    @* @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">TMS</a>
            </div>
            <ul class="nav navbar-nav">
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Admin Dashboard", "Dashboard", "Admin")</li>
                }
                else if (User.IsInRole("UniversitySupervisor"))
                {
                    <li>@Html.ActionLink("Supervisor Dashboard", "Dashboard", "UniversitySupervisor")</li>


                }
                else if (User.IsInRole("CompanySupervisor"))
                {
                    <li>@Html.ActionLink("Company Supervisor Dashboard", "Dashboard", "CompanySupervisor")</li>


                }

                else if (User.IsInRole("Trainer"))
                {
                    <li>@Html.ActionLink("Trainer Dashboard", "Dashboard", "Trainers")</li>


                }

            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Inbox", "Message", new { userId = User.Identity.GetUserId() })" class="inbox-icon">
                            <i class="fas fa-inbox"></i> Inbox
                        </a>
                    </li>
                    <li>
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:silver;">&copy; @DateTime.Now.Year - Training Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
